@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HopCity</h1>
    <p>Learn about <a href="https://en.wikipedia.org/wiki/Beer">beer</a>.</p>
</div>
<div>
    <img src="https://beerwisdom.eu/wp-content/uploads/2018/07/beer-1.png" height="400" width="315"/>
</div>